INTERNAL_SERVICE_TOKEN=
AuthUrl=https://accounts-svc-plus-266500572462.asia-northeast1.run.app
dashboardUrl=https://console.svc.plus

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DNS_API_TOKEN=
CLOUDFLARE_WEB_ANALYTICS_SITE_TAG=

SSH_SERVER_HK_XHTTP_HOST=us-xhttp.svc.plus
SSH_SERVER_HK_XHTTP_USER=root
SSH_SERVER_HK_XHTTP_KEYPATH=~/.ssh/id_rsa
SSH_SERVER_HK_XHTTP_PORT=22
SSH_SERVER_HK_XHTTP_DESCRIPTION=hk_xhttp_proxy
